@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Josefin+Slab:100,400,700|Nova+Mono&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.floatfix {
  clear: both; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

h1 {
  font-family: "Comfortaa", cursive;
  font-size: 34px;
  color: #ffffff; }
  h1 small {
    font-size: 20px; }

h2 {
  font-family: "Comfortaa", cursive;
  font-size: 32px;
  color: #ffffff; }
  h2 small {
    font-size: 18px; }

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  color: #ffffff;
  font-size: 16px; }

h4 {
  font-family: "Comfortaa", cursive;
  font-size: 28px;
  color: #ffffff; }

h5 {
  font-family: "Comfortaa", cursive;
  font-size: 26px;
  color: #ffffff; }

h6 {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  color: #ffffff; }

h7 {
  font-family: "Comfortaa", cursive;
  font-family: "Comfortaa", cursive;
  font-size: 22px;
  color: #ffffff; }

h8 {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #ffffff; }

h9 {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  color: #ffffff; }

p {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  color: #000000; }

a {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  color: #000000; }
  a:hover {
    text-decoration: underline; }
  a:active {
    font-weight: bold; }

.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5em 1em; }

.logo {
  font-size: 24px;
  text-decoration: none; }

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: black; }
  .navbar p {
    font-family: "Comfortaa", cursive;
    color: #ffffff; }
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px; }
    .navbar a:hover {
      display: inline;
      text-decoration: underline; }
  .navbar .nav-sub-list:hover {
    text-decoration: underline;
    display: inline; }
  .navbar .nav-sub-list ul > li > ul > li {
    display: none; }

.hero {
  position: relative;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background: url(/themes/sodapress/images/pexels-photo.jpg) 50% 50%;
  background-size: cover;
  padding: 4rem 2rem;
  min-height: 25vh;
  max-height: 150px;
  margin-top: 3rem; }
  .hero h1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: black 2px 2px; }
  .hero h2 {
    text-shadow: black 2px 2px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); }

.hero-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0.3rem;
  min-height: 25vh;
  max-height: 150px; }

.footerbar {
  background-color: #000000;
  color: #ffffff; }
  .footerbar p {
    color: #ffffff; }
  .footerbar a {
    color: #ffffff; }

.benefits {
  background-color: #125688;
  padding: 100px 0; }

.statistics {
  color: #ffffff;
  font-family: "Comfortaa", cursive;
  background-color: #dd4b39;
  padding: 100px 0;
  text-shadow: black 1px 1px; }
  .statistics .number {
    font-size: 50px;
    line-height: 50px;
    margin-left: 20px; }
  .statistics .subject {
    font-size: 20px;
    line-height: 20px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-serif {
  font: "Josefin Slab", serif; }

.text-sans {
  font: "Comfortaa", cursive; }

.text-monotype {
  font: "Nova Mono", monospace; }

.text-bold {
  font-weight: bold; }

.text-normal {
  font-style: normal; }

.text-italic {
  font-style: italic; }

.text-underline {
  text-decoration: underline; }

.text-strikethrought {
  text-decoration: line-through; }

.text-overline {
  text-decoration: overline; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.block-center {
  margin: 0 auto; }

.block-left {
  margin-left: 0; }

.block-right {
  margin-right: 0; }

.fixed-top {
  position: fixed;
  top: 0px; }

.fixed-bottom {
  position: fixed;
  bottom: 0px; }

.sticky-top {
  position: sticky;
  top: 0; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

.container {
  margin: 0 auto; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.col {
  padding: 0 15px; }

.col-s-1 {
  flex: 8.33%; }

.col-s-2 {
  flex: 16.66%; }

.col-s-3 {
  flex: 25%; }

.col-s-4 {
  flex: 33.33%; }

.col-s-5 {
  flex: 41.66%; }

.col-s-6 {
  flex: 50%; }

.col-s-7 {
  flex: 58.33%; }

.col-s-8 {
  flex: 66.66%; }

.col-s-9 {
  flex: 75%; }

.col-s-10 {
  flex: 83.33%; }

.col-s-11 {
  flex: 91.66%; }

.col-s-12 {
  flex: 100%; }

.col-m-1 {
  flex: 8.33%; }

.col-m-2 {
  flex: 16.66%; }

.col-m-3 {
  flex: 25%; }

.col-m-4 {
  flex: 33.33%; }

.col-m-5 {
  flex: 41.66%; }

.col-m-6 {
  flex: 50%; }

.col-m-7 {
  flex: 58.33%; }

.col-m-8 {
  flex: 66.66%; }

.col-m-9 {
  flex: 75%; }

.col-m-10 {
  flex: 83.33%; }

.col-m-11 {
  flex: 91.66%; }

.col-m-12 {
  flex: 100%; }

.col-l-1 {
  flex: 8.33%; }

.col-l-2 {
  flex: 16.66%; }

.col-l-3 {
  flex: 25%; }

.col-l-4 {
  flex: 33.33%; }

.col-l-5 {
  flex: 41.66%; }

.col-l-6 {
  flex: 50%; }

.col-l-7 {
  flex: 58.33%; }

.col-l-8 {
  flex: 66.66%; }

.col-l-9 {
  flex: 75%; }

.col-l-10 {
  flex: 83.33%; }

.col-l-11 {
  flex: 91.66%; }

.col-l-12 {
  flex: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

@media (min-width: 768px) {
  .container {
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    max-width: 500px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 900px; } }
